/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/web/bundles/
/web/uploads/
/web/components/
/web/js
/web/app_dev.php
/web/css
/components/
/composer.phar
/.idea
/src/Fx/ConsultaBundle/Entity/captcha.jpg
/src/Fx/ConsultaBundle/Entity/cookie.txt
*.php~
