{% extends 'FxSchoolBundle::layout.html.twig' %}

{% block page_header %} Usuarios {% endblock %}
{% block sub_header %} Registrar {% endblock %}

{% block content -%}
    <div class="row">
        {% include 'FxSchoolBundle:Usuario:Form/usuario_form.html.twig' with {form: form, action: 'Registrar'} %}
    </div>
{% endblock %}
